.ng-select[name='scenario']{
  min-width:250px;
}

.dashboard-scenario{
  max-width: 1000px;
}

.regularity-dt{
  font-weight: bold;
  margin-top: 10px;
  font-size: 80%;
  max-width: 90px;
}

.regularity-time{
  max-width: 90px;
}